  <!--main-content HTML starts here-->
  <section class="main-content text-center">
    <div class="container-fluid">
        <div class="row">

            <!--main-content-header HTML starts here-->

                <div class="page-header main-content-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="#">www.my4walls.com</a> 
                    <h1>My4Walls</h1>
                    <p>Select any building to continue</p>
                </div>

            <!--main-content-header HTML ends here-->

            <!--tile-content HTML starts here-->

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="tile col-lg-3 col-md-4 col-sm-3 col-xs-6">
                        <a (click)="tologin()">
                            <div class="thumbnail text center">
                                <div>
                                    <img class="img-responsive" src="../../../assets/images/tiger.jpg" alt="tile-icon" />
                                    <h4 class="thumbnail-title">One Piccadilly</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                     <div class="tile col-lg-3 col-md-4 col-sm-3 col-xs-6">
                        <a href="login.html">
                            <div class="thumbnail text center">
                                <div>
                                    <img class="img-responsive" src="../../../assets/images/tiger.jpg"alt="tile-icon" />
                                    <h4 class="thumbnail-title">One Piccadilly</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="tile col-lg-3 col-md-4 col-sm-3 col-xs-6">
                        <a href="login.html">
                            <div class="thumbnail text center">
                                <div>
                                    <img class="img-responsive" src="../../../assets/images/tiger.jpg"alt="tile-icon" />
                                    <h4 class="thumbnail-title">One Piccadilly</h4>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="tile col-lg-3 col-md-4 col-sm-3 col-xs-6">
                        <a href="login.html">
                            <div class="thumbnail text center">
                                <div>
                                    <img class="img-responsive" src="../../../assets/images/tiger.jpg" alt="tile-icon" />
                                    <h4 class="thumbnail-title">One Piccadilly</h4>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="tile col-lg-3 col-md-4 col-sm-3 col-xs-6">
                        <a href="login.html">
                            <div class="thumbnail text center">
                                <div>
                                    <img class="img-responsive" src="../../../assets/images/tiger.jpg"alt="tile-icon" />
                                    <h4 class="thumbnail-title">One Piccadilly</h4>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="tile col-lg-3 col-md-4 col-sm-3 col-xs-6">
                        <a href="login.html">
                            <div class="thumbnail text center">
                                <div>
                                    <img class="img-responsive" src="assets/images/tile-icon.png" alt="tile-icon" />
                                    <h4 class="thumbnail-title">One Piccadilly</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                   
                </div>

            <!--tile-content HTML starts here-->
        </div>
    </div>
</section>
<!--main-content HTML ends here-->