<div class="wrapper">
  <div class="container">
    
    <div class="flexxx">
        <!--overview body HTML starts here-->
        <div class="overview-body col-lg-8 col-md-8">
            <div class="row">
                <div class="property-num col-md-6">
                    <div class="block">
                        <div class="media">
                            <div class="media-left">
                                <span>
                                    <i class="fa fa-building"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <p>Total Property Unit</p>
                                <h2 class="media-heading">70</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-num col-md-6">
                    <div class="block">
                        <div class="media">
                            <div class="media-left">
                                <span>
                                    <i class="fa fa-users"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <p>Total Property Unit</p>
                                <h2 class="media-heading">6734</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="payments col-md-12">
                    <div class="row">
                        <div class=" col-md-12">
                            <div class="payments-header col-md-12">
                                <div class="row flex">
                                    <div class="payments-details col-md-6">
                                        <h4 class="dark-text">Upcoming Payments</h4>
                                        <p>13 payments pending this month</p>
                                    </div>
                                    <div class="view-payments col-md-6">
        
                                        <div class="form-group col-md-6">
                                            <div class="row">
                                                <select class="form-control">
                                                    <option>all</option>
                                                </select>
                                            </div>
                                        </div>
                                        <span>View All Payments</span>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <div class="col-lg-12">
                            <table class="custom-table table table-border table-hover bg-white">
                                <tbody>
                                    <tr>
                                        <td><img class="small-img img-circle" src="assets/images/payment-user.png" alt="payment-user" /></td>
                                        <td> <span class="user-type">Type-B</span> </td>
                                        <td>
                                            <label class="label label-success">Booking Fee</label>
                                        </td>
                                        <td> 
                                            <div class="payment-total">
        
                                            <h4 class="payments-title">Rs. 445,200</h4> 
                                            09 July, 2018
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img class="small-img img-circle" src="assets/images/payment-user.png" alt="payment-user" /></td>
                                        <td> <span class="user-type">Type-B</span> </td>
                                        <td>
                                            <label class="label label-success">Confirmation fee</label>
                                        </td>
                                        <td> 
                                            <div class="payment-total">
        
                                            <h4 class="payments-title">Rs. 445,200</h4> 
                                            09 July, 2018
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img class="small-img img-circle" src="assets/images/payment-user.png" alt="payment-user" /></td>
                                        <td> <span class="user-type">Type-B</span> </td>
                                        <td>
                                            <label class="label label-warning">Instalment</label>
                                        </td>
                                        <td> 
                                            <div class="payment-total">
        
                                            <h4 class="payments-title">Rs. 445,200</h4> 
                                            09 July, 2018
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img class="small-img img-circle" src="assets/images/payment-user.png" alt="payment-user" /></td>
                                        <td> <span class="user-type">Type-B</span> </td>
                                        <td>
                                            <label class="label label-danger"> <i class="fa fa-clock-o"></i> Instalment</label>
                                        </td>
                                        <td> 
                                            <div class="payment-total danger-status">
        
                                            <h4 class="payments-title">Rs. 445,200</h4> 
                                            09 July, 2018
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img class="small-img img-circle" src="assets/images/payment-user.png" alt="payment-user" /></td>
                                        <td> <span class="user-type">Type-B</span> </td>
                                        <td>
                                            <label class="label label-success">Booking Fee</label>
                                        </td>
                                        <td> 
                                            <div class="payment-total">
        
                                            <h4 class="payments-title">Rs. 445,200</h4> 
                                            09 July, 2018
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>    
        </div>        
        <!--overview body HTML ends here-->
        
        <!--conversation HTML starts here-->
        <aside class="conversation col-md-4">
            <div class="bg-white scroll">
                <div class="conversation-header">
        
                    <h4 class="flex">
                        <span class="circle flex"><i class="fa fa-comment"></i> </span> Conversations</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <span class=""><img class="img-circle small-img" src="assets/images/conversation.png" alt="conversation"/></span>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading dark-text">Jeremy Bailey</h4>
                                <p>You: Your concern has been forward</p>  
        
                            </div>
                            <div class="media-right">
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <span class=""><img class="img-circle small-img" src="assets/images/conversation.png" alt="conversation"/></span>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading dark-text">Jeremy Bailey</h4>
                                <p>You: Your concern has been forward</p>  
        
                            </div>
                            <div class="media-right">
                                <a href="#" class=""><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item active-user">
                        <div class="media">
                            <div class="media-left">
                                <span class="user-bg">
                                    <img class="img-circle small-img" src="assets/images/conversation.png" alt="conversation"/>
                                    <span class="badge circle"></span>
                                </span>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading dark-text">Jeremy Bailey</h4>
                                <p>Thank you for your assistance.</p>  
        
                            </div>
                            <div class="media-right">
                                <span class="badge circle">50</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <span class=""><img class="img-circle small-img" src="assets/images/conversation.png" alt="conversation"/></span>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading dark-text">Jeremy Bailey</h4>
                                <p>You: Your concern has been forward</p>  
        
                            </div>
                            <div class="media-right">
                            </div>
                        </div>
                    </li>
                </ul>
           </div>
        </aside>
        <!--conversation HTML starts here-->
          </div>       
  </div>
  
</div>
