<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <form action="">
            <div class="form-group">
                <input type="text" class="form-control" id="inputEmail4" placeholder="Title">
            </div>
        </form>

      </div>
     
        <div class="col-md-8 text-right">
          <span routerLink="new-staff" class="btnmrg"><button type="button" class="btn btn-primary prisize">+ New Member</button></span>
          </div>
    </div>

    <div class="rowtab">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Phone #</th>
                  <th scope="col">Email</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                
                  <td>
                    <div class="mainbg">
                      <div class="circletwo">
                        <span><img src="../../../assets/images/building.png"> </span>
                      </div>
                      <div class="text-pro">
                        <p class=" pro-paragraph">Massab Khan</p>
                      </div>

                    </div>
                  </td>
                  <td>
                    <span>+92 389 1234567</span>
                  </td>
                  <td>
                    <span>Massabkhan@gmailcom</span>
                  </td>
         
                  <td>
                    <span class="dis"><i class="fa fa-pencil sizef" aria-hidden="true"></i></span>
                    <span class="dis"><i class="fa fa-trash sizef" aria-hidden="true"></i></span>
                    <span>
                      <label class="switch">

                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                    </span>
                  
                  </td>
                </tr>
                <tr>
                
                  <td>
                    <div class="mainbg">
                      <div class="circletwo">
                        <span><img src="../../../assets/images/building.png"> </span>
                      </div>
                      <div class="text-pro">
                        <p class=" pro-paragraph">Massab Khan</p>
                      </div>

                    </div>
                  </td>
                  <td>
                    <span>+92 389 1234567</span>
                  </td>
                  <td>
                    <span>Massabkhan@gmailcom</span>
                  </td>
         
                  <td>
                    <span class="dis"><i class="fa fa-pencil sizef" aria-hidden="true"></i></span>
                    <span class="dis"><i class="fa fa-trash sizef" aria-hidden="true"></i></span>
                    <span>
                      <label class="switch">

                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                    </span>
                  
                  </td>
                </tr>
                <tr>
                
                  <td>
                    <div class="mainbg">
                      <div class="circletwo">
                        <span><img src="../../../assets/images/building.png"> </span>
                      </div>
                      <div class="text-pro">
                        <p class=" pro-paragraph">Massab Khan</p>
                      </div>

                    </div>
                  </td>
                  <td>
                    <span>+92 389 1234567</span>
                  </td>
                  <td>
                    <span>Massabkhan@gmailcom</span>
                  </td>
         
                  <td>
                    <span class="dis"><i class="fa fa-pencil sizef" aria-hidden="true"></i></span>
                    <span class="dis"><i class="fa fa-trash sizef" aria-hidden="true"></i></span>
                    <span>
                      <label class="switch">

                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                    </span>
                  
                  </td>
                </tr>
                <tr>
                
                  <td>
                    <div class="mainbg">
                      <div class="circletwo">
                        <span><img src="../../../assets/images/building.png"> </span>
                      </div>
                      <div class="text-pro">
                        <p class=" pro-paragraph">Massab Khan</p>
                      </div>

                    </div>
                  </td>
                  <td>
                    <span>+92 389 1234567</span>
                  </td>
                  <td>
                    <span>Massabkhan@gmailcom</span>
                  </td>
         
                  <td>
                    <span class="dis"><i class="fa fa-pencil sizef" aria-hidden="true"></i></span>
                    <span class="dis"><i class="fa fa-trash sizef" aria-hidden="true"></i></span>
                    <span>
                      <label class="switch">

                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                    </span>
                  
                  </td>
                </tr>
                <tr>
                
                  <td>
                    <div class="mainbg">
                      <div class="circletwo">
                        <span><img src="../../../assets/images/building.png"> </span>
                      </div>
                      <div class="text-pro">
                        <p class=" pro-paragraph">Massab Khan</p>
                      </div>

                    </div>
                  </td>
                  <td>
                    <span>+92 389 1234567</span>
                  </td>
                  <td>
                    <span>Massabkhan@gmailcom</span>
                  </td>
         
                  <td>
                    <span class="dis"><i class="fa fa-pencil sizef" aria-hidden="true"></i></span>
                    <span class="dis"><i class="fa fa-trash sizef" aria-hidden="true"></i></span>
                    <span>
                      <label class="switch">

                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                    </span>
                  
                  </td>
                </tr>
             
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
