.title-page {
    h4 {
        font-family: Inter-ui-regular;
        font-weight: 500;
        margin: 0px;
    }
}

.settings {
    margin-bottom: 25px;
}

.row-bg {
    background: #fff;
}

.icon-img {
    height: 25px;
}

.img-side {
    background: #F5F9FC;
    padding: 17px;
}

.row-bg {
    background: #fff;
    padding: 40px 10px 40px 0px;
    margin: 0px 15px 15px 0px;
}

.mb {
    margin-bottom: 40px;
}

.media-heading {
    font-weight: 700;
    font-family: inter-ui-regular;
    font-size: 15px;
    color: #555;
    text-decoration: none;
}

.media-body {
    position: relative;
    top: 6px;
    p {
        font-size: 12px;
    }
    h4 {
        color: #555;
    }
}

.media-heading {
    cursor: pointer;
}

.first-row {
    margin: 20px 0px;
}

p {
    color: #888888;
}

.settings-bg {
    background-color: #f5f9fc;
    height: 70px;
    width: 70px;
    text-align: center;
}

.settings-icon {
    color: #809aad;
    font-size: 25px;
    position: relative;
    top: 32%;
}
