<div class="row first-row">
  <div class="col-md-12 no-padding-left">
    <div class="title-page">
      <h4>Settings</h4>
    </div>
  </div>
</div>
<div class="row row-bg">
  <div class="col-md-12">
   
    <div class="row mb">
      <div class="col-md-4">
        <div class="media">
          <div class="media-left">
            <div class="settings-bg">
              <i class="fa fa-universal-access settings-icon" aria-hidden="true"></i>
            </div>
          </div>
          <div class="media-body">
            <a routerLink="/admin/settings/settings-units" class="media-heading">Types of units</a>
            <!-- <p>Set multiple emails to get your facility's reports.</p> -->
          </div>
        </div>
      </div>

  
    </div>
  </div>
</div>
