.mrg {
    margin-left: 0px;
    margin-right: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.btnmrg {
    margin-right: 20px;
}

.formrow {

    margin-left: 0px;
    margin-right: 20px;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #ddd;
    background: #FCFCFC;

}

.formrowcol {
    border-bottom: 1px solid #ddd;
    padding: 10px 10px 10px 10px;
    background: #FCFCFC;
}

.bd {
    font-weight: bold;
}

.formdiv {
    margin-top: 20px;
    padding: 10px 0px 10px 0px;
    margin-left: 14px;
    margin-right: 210px;
}

.formpad {
    padding: 20px 15px;
}

.form-control {
    border-radius: 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #15bc7c;
}

input:focus+.slider {
    box-shadow: 0 0 1px #15bc7c;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.tog {
    margin-right: 10px;
}

.fasize {
    font-size: 25px;
    color: #ddd;
}

.circle span {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    padding: 2px 12px 10px 11px;
    // color: #ffffff;
    background: #ddd;
}

.circle {
    display: inline;
    // padding-left: 20px;
}

.circle {
    cursor: pointer;
}

.circle span:hover {
    color: #15BC7C;
    background: #fff;
}

.text-pro {
    display: inline-block;
}

.pro-paragraph {
    // color: #ffffff;
    margin-left: 5px;
    color: #333333;
    font-weight: bold;

}

.mappp {
    font-size: 17px;

}

.prisize {
    border-radius: 30px !important;
    background: #15bc7c !important;
    border: 1px solid #15BC7C !important;

}

.prisize:hover {
    background: #fff !important;
    color: #15BC7C !important;
    border: 1px solid #15BC7C !important;
}

.defsize {
    border-radius: 30px;
    background: #e8ecf0;
    border: 1px solid #fff;
}

.defsize:hover {
    background: #fff;
    color: #15BC7C;
    ;
    box-shadow: inset 0px 0px 5px #15BC7C;
}

.rowone {
    padding: 20px 10px 20px 00px;
    border-bottom: 1px solid #ddd;
}

.formdivtwo {
    margin-top: 20px;
}

.formdivthree {
    background: #fff;
    padding: 20px 20px 5px 20px;
}

.formrowcol2 {
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    padding: 10px 10px 10px 10px;
    background: #FCFCFC;
}

.ladda-button {
    padding: 5px 15px !important;
}


.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 56px !important
}

.ladda-button[disabled],
.ladda-button[disabled]:hover,
.ladda-button[data-loading],
.ladda-button[data-loading]:hover {
    cursor: default;
    color: #fff !important;
    background-color: #16bc7c !important;
    border: 1px solid #16bc7c;
}

.ladda-button,
.ladda-button .ladda-spinner,
.ladda-button .ladda-label {
    transition: none !important;
}

.ladda-button,
.ladda-button .ladda-label,
.ladda-button .ladda-spinner {
    -webkit-transition: all .3s cubic-bezier(.175, .885, .32, 1.275) !important;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275) !important;
}

.arrow {
    display: inline-block;
    padding: 17px 0px 0px 0px;
    font-weight: bold;
}

.switch {
    position: relative;
    display: inline-block;

}

.input-group-text.round {
    border-radius: 0px 30px 30px 0px;
}

.input-group-text.round2 {
    border-radius: 30px 0px 0px 30px;
}

.red {
    border-radius: 30px;
}

.paymentt {
    background: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 30px;
    text-decoration: none !important;

}

.paymentt:hover {
    outline: none !important;
    text-decoration: none !important;
    background: #fff;
    color: #007bff;
    border: 2px solid #007bff;
}

.paymentt:focus {
    outline: none !important;
    text-decoration: none !important;
    background: #fff;
    color: #007bff;
    border: 2px solid #007bff;
}

.paymentt:focus-visible {
    outline: none !important;
    text-decoration: none !important;
    background: #fff;
    color: #007bff;
    border: 2px solid #007bff;
}

.paymentt:focus-within {
    outline: none !important;
    text-decoration: none !important;
    background: #fff;
    color: #007bff;
    border: 2px solid #007bff;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.siz {
    font-size: 12px;
}

.formdivthreee {
    background: #fff;
    // padding: 0px 0px 5px 0px;
}

.mainbg {
    // background: #F3F7FB;
    padding: 12px 10px 0px 10px;

}

.mainbg2 {
    // background: #F3F7FB;
    padding: 10px 10px 0px 10px;

}

.circletwo span {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    padding: 1px 12px 10px 7px;
    // color: #ffffff;
    background: #15BC7C;
    color: #fff;
}

.circletwo {
    display: inline;
    // padding-left: 20px;
}

.pro-paragraph {
    // color: #ffffff;
    margin-left: 5px;
    color: #333333;
    font-weight: bold !important;
    font-size: 19px;


}

//  button:focus { outline: none !important; }
//  .btn:focus {
// 	outline: none !important;
//   }
//   .btn:focus, .btn:active:focus, .btn.active:focus {
// 	outline: none !important;
//   }

//   .paymentt:focus, .paymentt:active:focus, .paymentt.active:focus {
// 	outline: none !important;
//   }
.leftss {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #15BC7C;
    /* padding-right: 0px; */
    margin-right: 10px;
    margin-top: 4px;
}

.details {
    padding: 6px 10px 10px 0px;
}

.left-sp {
    text-align: center;
    padding-top: 2px;
    color: #fff;
}

.ellipse-span {
    padding: 10px 15px 6px 15px;
    cursor: pointer;
    border-radius: 50%;
}

.dropdown-menu {
    left: -125px !important;
    padding-left: 5px;
    padding-right: 5px;
    color: #777;
    cursor: pointer;

    :hover {
        background-color: #f1f1f1;
    }
}

.ladda-button {
    padding: 5px 15px !important;
}


.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 56px !important
}

.ladda-button[disabled],
.ladda-button[disabled]:hover,
.ladda-button[data-loading],
.ladda-button[data-loading]:hover {
    cursor: default;
    color: #fff !important;
    background-color: #16bc7c !important;
    border: 1px solid #16bc7c;
}

.ladda-button,
.ladda-button .ladda-spinner,
.ladda-button .ladda-label {
    transition: none !important;
}

.ladda-button,
.ladda-button .ladda-label,
.ladda-button .ladda-spinner {
    -webkit-transition: all .3s cubic-bezier(.175, .885, .32, 1.275) !important;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275) !important;
}

.fa-pencil-square-o {
    font-size: 22px !important;
    cursor: pointer;
    color: #808080;
}

.multiselect-dropdown .dropdown-btn {
    border-radius: 30px !important;
  }
  .multiselect-dropdown .dropdown-btn .selected-item{
    background: #16bc7c !important;
    border-radius: 30px !important;
    padding: 0 10px !important;
    border: 1px solid #16bc7c !important;
  }
