<div class="row first-row fmb mta">
  <div class="col-md-12 no-padding-left">
    <span class="settingcursor"><i class="fa fa-angle-left fa-clr"></i> Role Settings</span>
  </div>
</div>

<div class="row mta">
  <div class="col-md-12">
    <div class="row">
        <!-- Form Start -->
     
            <div class="col-md-8">
                <form [formGroup]="UnitsForm">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="heading-dpt">Create Units</h4>
                </div>
              </div>
              <div class="row row-bg-bg">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12">
                      <h4 class="heading-dpt">Unit</h4>
                      <!-- <p>Roles are designation of employees within a factory or team. Roles will be created here and can be assigned to employees.</p> -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <!-- <label for="">Unit Name</label> -->
                    
                         
                        <input formControlName="status"  maxlength="40" type="text" class="form-control">
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <!-- Form Action -->
              <div class="row save-row">
                <div class="col-md-12 text-right">
                  <button class="btn btn-default">Cancel</button>
                  <button *ngIf="!unitDetails" (click)="saveUnits(UnitsForm.value)" class="btn btn-hr">Save</button>

                  <button *ngIf="unitDetails" (click)="updateUnits(UnitsForm.value)" class="btn btn-hr">Update</button>
                </div>
              </div>
            </form>
            </div>
       
          <!-- Form End -->
          <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                 
                </div>
              </div>
            </div>

    </div>
  </div>
</div>


  

     
