.message-icon {
    font-size: 80px;
    background: #fff;
    padding: 10px 40px;
    border-radius: 10px;
    border: 1px solid #ddd;
    color: #0779aa;
}

.message-text {
    color: #999;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}