<div class="wrapper">
  <div class="container">
    <div class="rowone">
      <div class="row">
        <div class="col-md-6">

          <span routerLink="../" class="circle">
            <span><i class="fa fa-angle-left mappp" aria-hidden="true"></i></span>
          </span>

          <div class="text-pro">
            <p class=" pro-paragraph"> New Member </p>
          </div>

        </div>
        <div class="col-md-6 text-right">
          <span class="btnmrg"><button type="button" class="btn btn-primary prisize">Save Changes</button></span>

        </div>
      </div>
    </div>

    <div class="picrow">

      <div class="row">

        <div class="col-md-6">
          <div class="formrowcol">
            <div class="one">
              <span class="bd">Member Information</span>
            </div>
            <div class="second">
              <span> Provide the basic information of the new member</span>
            </div>
          </div>
          <div class="formdivthree">
            <form class="adjus" action="">

              <div class="row formpad">

                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" id="inputEmail4" placeholder="Enter full Name">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" id="inputEmail4" placeholder="Enter phone number">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" id="inputEmail4" placeholder="Enter email address ">
                  </div>
                </div>

              </div>
            </form>
          </div>

        </div>
        <div class="col-md-6">
          <div class="formrowcol">
            <div class="one">
              <span class="bd">Permissions</span>
            </div>
            <div class="second">
              <span> Grant access right to the new member </span>
            </div>
          </div>
          <div class="formdivthreenv">

            <table class="table table-bordered">
             
              <tbody>
                
                <tr>
                  <td>
                    <div class="d-flex bd-highlight">
                      <div class="p-2 flex-grow-1 bd-highlight">Flex item</div>
                      <div class="p-2 bd-highlight">
                        <span>
                          <label class="switch">
    
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                        </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex bd-highlight">
                      <div class="p-2 flex-grow-1 bd-highlight">Flex item</div>
                      <div class="p-2 bd-highlight"> <span>
                        <label class="switch">
  
                          <input type="checkbox" checked>
                          <span class="slider round"></span>
                      </label>
                      </span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex bd-highlight">
                      <div class="p-2 flex-grow-1 bd-highlight">Flex item</div>
                      <div class="p-2 bd-highlight">
                        <span>
                          <label class="switch">
    
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                        </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex bd-highlight">
                      <div class="p-2 flex-grow-1 bd-highlight">Flex item</div>
                      <div class="p-2 bd-highlight"> <span>
                        <label class="switch">
  
                          <input type="checkbox" checked>
                          <span class="slider round"></span>
                      </label>
                      </span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex bd-highlight">
                      <div class="p-2 flex-grow-1 bd-highlight">Flex item</div>
                      <div class="p-2 bd-highlight">
                        <span>
                          <label class="switch">
    
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                        </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex bd-highlight">
                      <div class="p-2 flex-grow-1 bd-highlight">Flex item</div>
                      <div class="p-2 bd-highlight"> <span>
                        <label class="switch">
  
                          <input type="checkbox" checked>
                          <span class="slider round"></span>
                      </label>
                      </span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex bd-highlight">
                      <div class="p-2 flex-grow-1 bd-highlight">Flex item</div>
                      <div class="p-2 bd-highlight">
                        <span>
                          <label class="switch">
    
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                        </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex bd-highlight">
                      <div class="p-2 flex-grow-1 bd-highlight">Flex item</div>
                      <div class="p-2 bd-highlight"> </div>
                    </div>
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>