.title-page{
    h4{
      font-family: Inter-ui-regular;
      font-weight: 500;
      margin: 0px;
    }
  }
  
  .settings{
    margin-bottom: 25px;
  }
  
  .row-bg{
  
    background: #fff;
  }
  
  .icon-img{
    height: 25px;
  }
  
  .img-side{
    background: #F5F9FC;
    padding: 17px;
  }
  
  .row-bg{
    background: #fff;
    padding: 40px 10px 40px 0px;
    margin: 0px 15px 15px 0px;
  }
  
  
  
  
  .mbsm{
    margin-bottom: 15px;
  }
  
  .media-heading{
    font-weight: 500;
    font-family: inter-ui-regular;
    font-size: 15px;
    color: #000;
    text-decoration: none;
  }
  
  .media-body{
    position: relative;
    top: 6px;
    p{
      font-size: 12px;
    }
  }
  
  .media-heading{
    cursor: pointer;
  }
  
  .fa-clr{
    color: #2B8BB5;
    margin-right: 5px;
    font-size: 14px;
  }
  
  .mt{
    margin-top: 20px;
  }
  
  .dpt-list{
    background: #fff;
    padding: 8px 10px;
    border: 1px solid #DBDBDB;
    margin-bottom: 10px;
    p{
      color: #ccc;
      font-size: 12px;
      margin: 0px;
    }
  }
  
  .dpt-txt{
    font-family: Inter-ui-regular;
    font-weight: 500;
    margin: 0px;
    font-size: 15px;
    position: relative;
    top: 2px;
  
  }
  
  
  .fa-pencil{
    background: #F5F9FC;
    padding: 4px;
    border-radius: 2px;
    margin-right: 10px;
    color: #809AAD;
  }
  
  .fa-trash{
    background: #F5F9FC;
    padding: 4px;
    border-radius: 2px;
    margin-right: 10px;
    color: #809AAD;
  }
  .mb{
    margin-bottom: 0px;
  }
  
  
  .first-row{
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .fmb{
    margin-bottom: 25px;
  }
  
  .mta{
    margin-top: 20px;
  }
  
  .btn-hr{
    background: #0879AA;
    border: 1px solid #0879AA;
    padding: 6px 20px;
    color: #fff;
    float: right;
  }
  
